* {
    padding : 0;
    margin : 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    border: solid 2px black;
    padding: 20px;
    border-radius: 12px;
}

.main h1 {
    font-size: 45px;
}

.link {
    width: 100%;
    display:flex;
    justify-content: center;
}

.link a {
    text-decoration: none;
    padding: 20px;
    font-size: 22px
}

.link a:hover {
    color:blue;
    font-weight: bold;
}